YOURLS_SITE=https://url.muflone.com
YOURLS_DB_HOST=mariadb
YOURLS_DB_NAME=YOUR_SECRET_DATABASE
YOURLS_DB_USER=YOUR_SECRET_USER
YOURLS_DB_PASS=YOUR_SECRET_PASSWORD
YOURLS_PRIVATE=true
YOURLS_USER=YOUR_SECRET_ADMIN_USER
YOURLS_PASS=YOUR_SECRET_ADMIN_PASSWORD
